In [1]:
import pandas as pd

In [2]:
# Load data
df = pd.read_csv('coviddata.csv')

In [4]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [6]:
df.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 67, dtype: object

In [7]:
# Convert date column to datetime
df['date'] = pd.to_datetime(df['date'])

In [8]:
df.dtypes

iso_code                                           object
continent                                          object
location                                           object
date                                       datetime64[ns]
total_cases                                       float64
                                                ...
human_development_index                           float64
excess_mortality_cumulative_absolute              float64
excess_mortality_cumulative                       float64
excess_mortality                                  float64
excess_mortality_cumulative_per_million           float64
Length: 67, dtype: object

In [9]:
df['date']

0        2020-02-24
1        2020-02-25
2        2020-02-26
3        2020-02-27
4        2020-02-28
            ...
208793   2022-08-10
208794   2022-08-11
208795   2022-08-12
208796   2022-08-13
208797   2022-08-14
Name: date, Length: 208798, dtype: datetime64[ns]

In [10]:
df[df['date'] == '2022-08-13']

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
901,AFG,Asia,Afghanistan,2022-08-13,188820.0,116.0,244.429,7758.0,3.0,0.857,...,NaN,NaN,37.746,0.500,64.83,0.511,NaN,NaN,NaN,NaN
1815,OWID_AFR,NaN,Africa,2022-08-13,12293145.0,536.0,1982.000,256262.0,3.0,14.857,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2717,ALB,Europe,Albania,2022-08-13,321345.0,564.0,624.143,3570.0,1.0,1.429,...,7.100,51.200,NaN,2.890,78.57,0.795,NaN,NaN,NaN,NaN
3619,DZA,Africa,Algeria,2022-08-13,269008.0,142.0,123.857,6878.0,0.0,0.000,...,0.700,30.400,83.741,1.900,76.88,0.748,NaN,NaN,NaN,NaN
4515,AND,Europe,Andorra,2022-08-13,45899.0,NaN,NaN,154.0,0.0,0.000,...,29.000,37.800,NaN,NaN,83.73,0.868,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205244,WLF,Oceania,Wallis and Futuna,2022-08-13,761.0,0.0,0.000,7.0,0.0,0.000,...,NaN,NaN,NaN,NaN,79.94,NaN,NaN,NaN,NaN,NaN
206181,OWID_WRL,NaN,World,2022-08-13,589876392.0,632076.0,822211.571,6434754.0,1335.0,2467.857,...,6.434,34.635,60.130,2.705,72.58,0.737,NaN,NaN,NaN,NaN
207038,YEM,Asia,Yemen,2022-08-13,11903.0,0.0,1.143,2152.0,0.0,0.000,...,7.600,29.200,49.542,0.700,66.12,0.470,NaN,NaN,NaN,NaN
207918,ZMB,Africa,Zambia,2022-08-13,331925.0,NaN,NaN,4016.0,0.0,0.000,...,3.100,24.700,13.938,2.000,63.89,0.584,NaN,NaN,NaN,NaN
208796,ZWE,Africa,Zimbabwe,2022-08-13,256522.0,0.0,11.143,5587.0,0.0,0.857,...,1.600,30.700,36.791,1.700,61.49,0.571,NaN,NaN,NaN,NaN

In [11]:
from datetime import datetime

In [16]:
datetime.date(datetime.now())

datetime.date(2022, 8, 16)